<h1>Ada Zoo</h1>

<ul>
  <% @animals.each do |animal| %>
  <li>
    <%= link_to(animal.name, animal_path(animal.id), alt: 'link to detail page') %> (<%= animal.species %>)
  </li>
  <% end %>
</ul>

<p>
  <%= link_to('Add Animal', new_animal_path, alt: 'add an animal') %>
</p>
